{% extends 'path_finder/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <h2>List of pages</h2>
    <ul>
        <li>
            <a href="../admin">Admin</a>
        </li>
        <li>
            <a href="analyse_url">Analyse URL</a>
        </li>
        <li>
            <a href="display_classes">Display Classes</a>
        </li>
        <li>
            <a href="display_links">Display Links</a>
        </li>
    </ul>
{% endblock content %}